# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database 
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*
/shizhan_backgroupWindow/ziliao/0125a45defb219a801219cceaaa61e.jpg@1280w_1l_2o_100sh.jpg
/shizhan_backgroupWindow/ziliao/6836e7812fa5d7faee12493be4eb12a5.jpg
/shizhan_backgroupWindow/ziliao/NewAnnotTest/NewAnnotTest/AnnotImage.cpp
/shizhan_backgroupWindow/ziliao/NewAnnotTest/NewAnnotTest/AnnotImage.h
/shizhan_backgroupWindow/ziliao/NewAnnotTest/NewAnnotTest/AnnotWindow.cpp
/shizhan_backgroupWindow/ziliao/NewAnnotTest/NewAnnotTest/AnnotWindow.h
/shizhan_backgroupWindow/ziliao/NewAnnotTest/NewAnnotTest/AsWin.cpp
/shizhan_backgroupWindow/ziliao/NewAnnotTest/NewAnnotTest/AsWin.h
/shizhan_backgroupWindow/ziliao/NewAnnotTest/NewAnnotTest/DibSection.cpp
/shizhan_backgroupWindow/ziliao/NewAnnotTest/NewAnnotTest/DibSection.h
/shizhan_backgroupWindow/ziliao/NewAnnotTest/NewAnnotTest/NewAnnotTest.aps
/shizhan_backgroupWindow/ziliao/NewAnnotTest/NewAnnotTest/NewAnnotTest.cpp
/shizhan_backgroupWindow/ziliao/NewAnnotTest/NewAnnotTest/StdThunk.cpp
/shizhan_backgroupWindow/ziliao/NewAnnotTest/NewAnnotTest/StdThunk.h
/shizhan_backgroupWindow/ziliao/NewAnnotTest/NewAnnotTest/gdiplus/GdiPlus.h
/shizhan_backgroupWindow/ziliao/NewAnnotTest/NewAnnotTest/gdiplus/GdiPlus.lib
/shizhan_backgroupWindow/ziliao/NewAnnotTest/NewAnnotTest/gdiplus/GdiPlusBase.h
/shizhan_backgroupWindow/ziliao/NewAnnotTest/NewAnnotTest/gdiplus/GdiPlusBitmap.h
/shizhan_backgroupWindow/ziliao/NewAnnotTest/NewAnnotTest/gdiplus/GdiPlusBrush.h
/shizhan_backgroupWindow/ziliao/NewAnnotTest/NewAnnotTest/gdiplus/GdiPlusCachedBitmap.h
/shizhan_backgroupWindow/ziliao/NewAnnotTest/NewAnnotTest/gdiplus/GdiPlusColor.h
/shizhan_backgroupWindow/ziliao/NewAnnotTest/NewAnnotTest/gdiplus/GdiPlusColorMatrix.h
/shizhan_backgroupWindow/ziliao/NewAnnotTest/NewAnnotTest/gdiplus/GdiPlusEnums.h
/shizhan_backgroupWindow/ziliao/NewAnnotTest/NewAnnotTest/gdiplus/GdiPlusFlat.h
/shizhan_backgroupWindow/ziliao/NewAnnotTest/NewAnnotTest/gdiplus/GdiPlusFont.h
/shizhan_backgroupWindow/ziliao/NewAnnotTest/NewAnnotTest/gdiplus/GdiPlusFontCollection.h
/shizhan_backgroupWindow/ziliao/NewAnnotTest/NewAnnotTest/gdiplus/GdiPlusFontFamily.h
/shizhan_backgroupWindow/ziliao/NewAnnotTest/NewAnnotTest/gdiplus/GdiPlusGpStubs.h
/shizhan_backgroupWindow/ziliao/NewAnnotTest/NewAnnotTest/gdiplus/GdiPlusGraphics.h
/shizhan_backgroupWindow/ziliao/NewAnnotTest/NewAnnotTest/gdiplus/GdiPlusHeaders.h
/shizhan_backgroupWindow/ziliao/NewAnnotTest/NewAnnotTest/gdiplus/GdiPlusImageCodec.h
/shizhan_backgroupWindow/ziliao/NewAnnotTest/NewAnnotTest/gdiplus/GdiPlusImaging.h
/shizhan_backgroupWindow/ziliao/NewAnnotTest/NewAnnotTest/gdiplus/GdiPlusInit.h
/shizhan_backgroupWindow/ziliao/NewAnnotTest/NewAnnotTest/gdiplus/GdiPlusLineCaps.h
/shizhan_backgroupWindow/ziliao/NewAnnotTest/NewAnnotTest/gdiplus/GdiPlusMatrix.h
/shizhan_backgroupWindow/ziliao/NewAnnotTest/NewAnnotTest/gdiplus/GdiPlusMem.h
/shizhan_backgroupWindow/ziliao/NewAnnotTest/NewAnnotTest/gdiplus/GdiPlusMetaFile.h
/shizhan_backgroupWindow/ziliao/NewAnnotTest/NewAnnotTest/gdiplus/GdiPlusMetaHeader.h
/shizhan_backgroupWindow/ziliao/NewAnnotTest/NewAnnotTest/gdiplus/GdiPlusPath.h
/shizhan_backgroupWindow/ziliao/NewAnnotTest/NewAnnotTest/gdiplus/GdiPlusPen.h
/shizhan_backgroupWindow/ziliao/NewAnnotTest/NewAnnotTest/gdiplus/GdiPlusPixelFormats.h
/shizhan_backgroupWindow/ziliao/NewAnnotTest/NewAnnotTest/gdiplus/GdiPlusRegion.h
/shizhan_backgroupWindow/ziliao/NewAnnotTest/NewAnnotTest/gdiplus/GdiPlusStringFormat.h
/shizhan_backgroupWindow/ziliao/NewAnnotTest/NewAnnotTest/gdiplus/GdiPlusTypes.h
/shizhan_backgroupWindow/ziliao/NewAnnotTest/NewAnnotTest/gdiplus/GdiPlusimageAttributes.h
/shizhan_backgroupWindow/ziliao/NewAnnotTest/NewAnnotTest/resource.h
/shizhan_backgroupWindow/ziliao/VCG21e556549ce.jpg
